.btn {
	display: inline-block;
	vertical-align: top;
	height: @35;
	padding: 0 @28;
	border: 1px solid black;
	border-radius: 6px;
	cursor: pointer;
	position: relative;

	font-size: @16;
	line-height: @32;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	color: white;
	background: cadetblue;
	.bold();
	transition: all 0.4s ease;
	align-self: center;
	&:hover {
		color: cadetblue;
		background: white;
	}
	&:active {
		color: black;
		background: cadetblue;
	}
	&_delete {
		background: white;
		color: cadetblue;
		border-color: cadetblue;
		min-width: 15%;
		&:hover {
			color: red;
			background: white;
			border-color: red;
		}
		&:active {
			color: white;
			background: red;
		}
	}
}

@media screen and (max-width: 820px){
	.btn {

		&_delete {
			margin-right: auto;
			margin-left: auto;
		}
	}
}